@import "../../theme";

.card {
  width: 170px;
  border-radius: 4px;
  background-size: cover;
  margin-right: 8px;
  height: 255px;

  &.large-card {
    width: 350px;
    height: 196px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .card {
    width: 85px;
    height: 134px;

    &.large-card {
      width: 180px;
      height: 110px;
    }
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  .card {
    width: 130px;
    height: 196px;

    &.large-card {
      width: 260px;
      height: 160px;
    }
  }
}
