@font-face {
  font-family: "Light";
  src: url("../assets/fonts/NetflixSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/NetflixSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Medium";
  src: url("../assets/fonts/NetflixSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/NetflixSans-Bold.otf") format("opentype");
}
