$black: #000000;
$black-17: #111111;
$default-red: #e50914;
$gray-70: rgba(128, 128, 128, 0.7);
$navy-blue: #0071eb;
$nero: #222222;
$nero-61: rgba(37, 37, 37, 0.612);
$night-rider: #2d2d2d;
$white-70: rgba(255, 255, 255, 0.7);
$white: #ffffff;
$suva-grey: #8c8c8c;
$white-10: rgba(255, 255, 255, 0.1);
