@import "../../theme";

.profile-screen {
  background-color: $black;
  min-height: 100vh;

  &-container {
    margin: auto;
    width: 85%;

    .heading {
      font-size: 48px;
      margin-top: 2%;
      margin-bottom: 2%;
      border-bottom: 1px solid $gray-90;
    }

    .sub-container {
      display: flex;
      align-items: flex-start;

      .email {
        padding: 5px;
        background-color: $gray-70;
        color: $white;
        font-family: Medium;
        font-size: 18px;
      }
    }
  }
}
