@import "../../theme";

.navbar-container {
  display: flex;
  justify-content: center;
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 90%;
    z-index: 1;

    &-left {
      color: $default-red;
      font-family: "Medium";
      font-size: 32px;
      cursor: pointer;
    }

    &-right {
      display: flex;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .navbar-container {
    .navbar {
      &-left {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  .navbar-container {
    .navbar {
      &-left {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
}
