@import "../../theme";

.banner {
  height: 500px;
  position: relative;
  color: $white;

  &-fade-bottom {
    height: 450px;
    background-image: linear-gradient(180deg, transparent, $nero-61, $black-17);
  }
}